In [1]:
#importing important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#reading the dataset
train_df=pd.read_excel('Data_Train.xlsx')

In [3]:
#seeing what the dataset consist of
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
#getting the information about the dataset
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
#cheking the null values in the dataset
train_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [6]:
#as the dataset contaions only one nan value therefore dropping the nana values
train_df.dropna(inplace=True)

In [7]:
#recheking the dataset for null values
train_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

###### Taking out the Journey "Day" "Month" "Year" seprately from the Date of journey column

In [8]:
train_df['Journey_day']=pd.to_datetime(train_df.Date_of_Journey,format="%d/%m/%Y").dt.day

In [9]:
train_df['Journey_month']=pd.to_datetime(train_df['Date_of_Journey'],format="%d/%m/%Y").dt.month

In [10]:
train_df['Journey_year']=pd.to_datetime(train_df['Date_of_Journey'],format="%d/%m/%Y").dt.year

###### Taking out the Departure "Hour" "Minutes" seprately from the Dep_Time column

In [10]:
train_df['Dep_hour']=pd.to_datetime(train_df['Dep_Time']).dt.hour

In [11]:
train_df['Dep_min']=pd.to_datetime(train_df['Dep_Time']).dt.minute

###### Taking out the Arrival "Hour" "Minutes" seprately from the Arrival_Time column

In [12]:
train_df['Arrival_hour']=pd.to_datetime(train_df['Arrival_Time']).dt.hour
train_df['Arrival_min']=pd.to_datetime(train_df['Arrival_Time']).dt.minute

###### Taking out the Duration "Hour" "Minutes" seprately from the Duration column

In [13]:
duration= list(train_df['Duration'])
for i in range (len(duration)):
    if len(duration[i].split())!=2:
        if "h" in duration[i]:
            duration[i]= duration[i].strip()+" 0m"
        else:
            duration[i]="0h "+duration[i]
            
duration_hour=[]
duration_min=[]

for i in range (len(duration)):
    duration_hour.append(int(duration[i].split(sep="h")[0]))
    duration_min.append(int(duration[i].split(sep="m")[0].split()[-1]))

In [14]:
train_df["Duration_hour"]=duration_hour
train_df["Duration_min"]=duration_min

###### applying some preprocessing in total_stops column and keeping only the numerical value

In [15]:
#there are values like non_stops in total_stops columns converting it into 0
train_df['Total_Stops'] = train_df['Total_Stops'].replace(['non-stop'],'0')

In [16]:
#splitting the Total_Stops column into two parts 
new = train_df['Total_Stops'].str.split(" ", n = 1, expand = True)

In [17]:
#Storing the numeric values in the Total_Stops column
train_df['Total_Stops']=new[0]

In [18]:
#changing the data_Type of Total_stop column into integer
train_df['Total_Stops']=pd.to_numeric(train_df['Total_Stops'])

In [19]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  int64
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
 11  Journey_day      10682 non-null  int64
 12  Journey_month    10682 non-null  int64
 13  Dep_hour         10682 non-null  int64
 14  Dep_min          10682 non-null  int64
 15  Arrival_hour     10682 non-null  int64
 16  Arrival_min      10682 non-null  int64
 17  Duration_hour    10682 non-null  int64
 18  Duration_min     10682 non-null  int64
dtypes: int64(10), object(9)
memory usage: 1.6+ MB

In [20]:
#now seeing the dataset after applying some major data preprocessing
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hour,Duration_min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0,No info,3897,24,3,22,20,1,10,2,50
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,13302,1,3,16,50,21,35,4,45

In [21]:
#now dropping the columns which are of no use to us now 
train_df.drop(['Date_of_Journey','Dep_Time','Arrival_Time','Duration','Additional_Info','Route'],axis=1,inplace=True)

In [22]:
#now seeing the dataset after applying some major data preprocessing
train_df.head()

,Airline,Source,Destination,Total_Stops,Price,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,0,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,2,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,1,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1,13302,1,3,16,50,21,35,4,45

In [23]:
#finding the unique values present Source column
train_df["Source"].value_counts()

Delhi       4536
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [24]:
# As Source is Nominal Categorical data we will perform OneHotEncoding

Source = train_df[["Source"]]

Source = pd.get_dummies(Source, drop_first= True)

Source.head()

   Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai
0               0             0               0              0
1               0             0               1              0
2               0             1               0              0
3               0             0               1              0
4               0             0               0              0

In [25]:
#finding the unique values present Source column
train_df["Destination"].value_counts()

Cochin       4536
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

In [26]:
# As Destination is Nominal Categorical data we will perform OneHotEncoding

Destination = train_df[["Destination"]]

Destination = pd.get_dummies(Destination, drop_first = True)

Destination.head()

,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,0,0,0,1
1,0,0,0,0,0
2,1,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,1

In [27]:
# As Airline is Nominal Categorical data we will perform OneHotEncoding

Airline = train_df[["Airline"]]

Airline = pd.get_dummies(Airline, drop_first= True)

Airline.head()

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0

In [28]:
train_df.drop(['Airline','Source','Destination'],axis=1,inplace=True)

In [29]:
df_train = pd.concat([train_df, Airline, Source, Destination], axis = 1)

In [30]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 30 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Total_Stops                                10682 non-null  int64
 1   Price                                      10682 non-null  int64
 2   Journey_day                                10682 non-null  int64
 3   Journey_month                              10682 non-null  int64
 4   Dep_hour                                   10682 non-null  int64
 5   Dep_min                                    10682 non-null  int64
 6   Arrival_hour                               10682 non-null  int64
 7   Arrival_min                                10682 non-null  int64
 8   Duration_hour                              10682 non-null  int64
 9   Duration_min                               10682 non-null  int64
 10  Airline_Air India                          10682 non-null  uint8
 11  Airline_GoAir                              10682 non-null  uint8
 12  Airline_IndiGo                             10682 non-null  uint8
 13  Airline_Jet Airways                        10682 non-null  uint8
 14  Airline_Jet Airways Business               10682 non-null  uint8
 15  Airline_Multiple carriers                  10682 non-null  uint8
 16  Airline_Multiple carriers Premium economy  10682 non-null  uint8
 17  Airline_SpiceJet                           10682 non-null  uint8
 18  Airline_Trujet                             10682 non-null  uint8
 19  Airline_Vistara                            10682 non-null  uint8
 20  Airline_Vistara Premium economy            10682 non-null  uint8
 21  Source_Chennai                             10682 non-null  uint8
 22  Source_Delhi                               10682 non-null  uint8
 23  Source_Kolkata                             10682 non-null  uint8
 24  Source_Mumbai                              10682 non-null  uint8
 25  Destination_Cochin                         10682 non-null  uint8
 26  Destination_Delhi                          10682 non-null  uint8
 27  Destination_Hyderabad                      10682 non-null  uint8
 28  Destination_Kolkata                        10682 non-null  uint8
 29  Destination_New Delhi                      10682 non-null  uint8
dtypes: int64(10), uint8(20)
memory usage: 1.1 MB

In [31]:
#now seeing the dataset after applying some major data preprocessing
df_train.head()

,Total_Stops,Price,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hour,Duration_min,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,24,3,22,20,1,10,2,50,...,0,0,0,0,0,0,0,0,0,1
1,2,7662,1,5,5,50,13,15,7,25,...,0,0,0,1,0,0,0,0,0,0
2,2,13882,9,6,9,25,4,25,19,0,...,0,0,1,0,0,1,0,0,0,0
3,1,6218,12,5,18,5,23,30,5,25,...,0,0,0,1,0,0,0,0,0,0
4,1,13302,1,3,16,50,21,35,4,45,...,0,0,0,0,0,0,0,0,0,1

In [32]:
y=df_train['Price']

In [33]:
df_train.drop(['Price'],axis=1,inplace=True)

In [34]:
x=df_train

##### TEST DATA

In [35]:
test_df=pd.read_excel('Test_set.xlsx')

In [36]:
test_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [37]:
test_df['Journey_day']=pd.to_datetime(test_df.Date_of_Journey,format="%d/%m/%Y").dt.day
test_df['Journey_month']=pd.to_datetime(test_df['Date_of_Journey'],format="%d/%m/%Y").dt.month
#test_df['Journey_year']=pd.to_datetime(test_df['Date_of_Journey'],format="%d/%m/%Y").dt.year

In [38]:
test_df['Dep_hour']=pd.to_datetime(test_df['Dep_Time']).dt.hour

In [39]:
test_df['Dep_min']=pd.to_datetime(test_df['Dep_Time']).dt.minute

In [40]:
test_df['Arrival_hour']=pd.to_datetime(test_df['Arrival_Time']).dt.hour
test_df['Arrival_min']=pd.to_datetime(test_df['Arrival_Time']).dt.minute

In [41]:
duration= list(test_df['Duration'])
for i in range (len(duration)):
    if len(duration[i].split())!=2:
        if "h" in duration[i]:
            duration[i]= duration[i].strip()+" 0m"
        else:
            duration[i]="0h "+duration[i]
            
duration_hour=[]
duration_min=[]

for i in range (len(duration)):
    duration_hour.append(int(duration[i].split(sep="h")[0]))
    duration_min.append(int(duration[i].split(sep="m")[0].split()[-1]))

In [42]:
test_df['Duration_hour']=duration_hour
test_df['Duration_min']=duration_min

In [43]:
#there are values like non_stops in total_stops columns converting it into 0
test_df['Total_Stops'] = test_df['Total_Stops'].replace(['non-stop'],'0')

#splitting the Total_Stops column into two parts 
new = test_df['Total_Stops'].str.split(" ", n = 1, expand = True)

#Storing the numeric values in the Total_Stops column
test_df['Total_Stops']=new[0]

#changing the data_Type of Total_stop column into integer
test_df['Total_Stops']=pd.to_numeric(test_df['Total_Stops'])

In [44]:
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hour,Duration_min
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,6,6,17,30,4,25,10,55
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1,No info,12,5,6,20,10,20,4,0
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,In-flight meal not included,21,5,19,15,19,0,23,45
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1,No info,21,5,8,0,21,0,13,0
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,24,6,23,55,2,45,2,50

In [45]:
#now dropping the columns which are of no use to us now 
test_df.drop(['Date_of_Journey','Dep_Time','Arrival_Time','Duration','Additional_Info','Route'],axis=1,inplace=True)

In [46]:
Airline = pd.get_dummies(test_df["Airline"], drop_first= True)
Source = pd.get_dummies(test_df["Source"], drop_first= True)
Destination = pd.get_dummies(test_df["Destination"], drop_first = True)

In [47]:
test_df.drop(['Airline','Source','Destination'],axis=1,inplace=True)

In [48]:
df_test = pd.concat([test_df, Airline, Source, Destination], axis = 1)

In [49]:
df_test.head()

,Total_Stops,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hour,Duration_min,Air India,...,Vistara Premium economy,Chennai,Delhi,Kolkata,Mumbai,Cochin,Delhi,Hyderabad,Kolkata,New Delhi
0,1,6,6,17,30,4,25,10,55,0,...,0,0,1,0,0,1,0,0,0,0
1,1,12,5,6,20,10,20,4,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1,21,5,19,15,19,0,23,45,0,...,0,0,1,0,0,1,0,0,0,0
3,1,21,5,8,0,21,0,13,0,0,...,0,0,1,0,0,1,0,0,0,0
4,0,24,6,23,55,2,45,2,50,0,...,0,0,0,0,0,0,1,0,0,0

##### Model Building

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR 
from sklearn.tree import DecisionTreeRegressor  
from sklearn.neighbors import KNeighborsRegressor

In [51]:
#Finding the best Random state

max_score=0
final_rstate=0

for i in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lm=LinearRegression() 
    lm.fit(x_train,y_train)
    lm.score(x_train,y_train)
    pred=lm.predict(x_test)
    r_score=r2_score(y_test,pred)
    #print("R2 SCORE is equal to :",r_score,"at random state",i)
    
    if r_score > max_score:
        max_score=r_score
        final_rstate=i
print("The maximum r2_score is ",max_score, "at random state",final_rstate)

The maximum r2_score is  0.6797926449118867 at random state 57

In [52]:
#finalizing the train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=57)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(8545, 29) (2137, 29) (8545,) (2137,)

In [53]:
#using Lasso, Ridge And Elastic net to overcome overfit and underfit situation
from sklearn.linear_model import Lasso,Ridge

#LASSO
print("LASSO")
ls=Lasso(alpha=0.0001)
ls.fit(x_train,y_train)
print(ls.score(x_train,y_train))
preed=ls.predict(x_test)
r_score=r2_score(y_test,preed)
print("The R2 score is",r_score)

print("\n \n")

#RIDGE
print("RIDGE")
ls=Lasso(alpha=0.0001)
ls.fit(x_train,y_train)
print(ls.score(x_train,y_train))
preed=ls.predict(x_test)
r_score=r2_score(y_test,preed)
print("The R2 score is",r_score)

LASSO
0.6080148369280978
The R2 score is 0.6797924613710856



RIDGE
0.6080148369280978
The R2 score is 0.6797924613710856

##### Applying Hyper Parameter Tunning

In [54]:
from sklearn.model_selection import GridSearchCV
dtr=DecisionTreeRegressor()
parameters={'criterion':('mse', 'friedman_mse', 'mae')}
gd=GridSearchCV(dtr,parameters)
gd.fit(x_train,y_train)
gd.best_params_

{'criterion': 'friedman_mse'}

In [55]:
from sklearn.model_selection import GridSearchCV
knr=KNeighborsRegressor()
parameters={'n_neighbors':(1,10)}
gd=GridSearchCV(knr,parameters)
gd.fit(x_train,y_train)
gd.best_params_

{'n_neighbors': 10}

In [56]:
from sklearn.model_selection import GridSearchCV
svr=SVR()
parameters={'kernel':('linear','poly','rbf')}
gd=GridSearchCV(svr,parameters)
gd.fit(x_train,y_train)
gd.best_params_

{'kernel': 'linear'}

In [57]:
Model= []
score= []
cvs=[]
rocscore=[]
model=[LinearRegression(),SVR(kernel='linear'),DecisionTreeRegressor(criterion='mse'),KNeighborsRegressor(n_neighbors=10)]
for models in model:
    print("\n")
    Model.append(models)
    models.fit(x_train,y_train)
    print(models)
    prediction=models.predict(x_test)
    print("\n")
    R2_score=r2_score(y_test,prediction)
    print("R2_SCORE =",R2_score)
    score.append(R2_score*100)
    print("\n")

LinearRegression()


R2_SCORE = 0.6797926449118867




SVR(kernel='linear')


R2_SCORE = 0.38592795482804454




DecisionTreeRegressor()


R2_SCORE = 0.749914299177




KNeighborsRegressor(n_neighbors=10)


R2_SCORE = 0.5572636323185494

In [58]:
from sklearn.ensemble import AdaBoostRegressor
ada=AdaBoostRegressor(base_estimator=dtr, n_estimators=500)
ada.fit(x_train,y_train)
print(ada.score(x_train,y_train))
pred=ada.predict(x_test)
r_score=r2_score(y_test,pred)
print("The r2_Score is", r_score)

0.9155325692794395
The r2_Score is 0.8520637232114703

In [59]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor()
gbr=GradientBoostingRegressor(n_estimators=500,max_depth= 4 ,min_samples_split= 5,learning_rate=0.1,loss='ls')
gbr.fit(x_train,y_train)
print(gbr.score(x_train,y_train))
gbrpred=gbr.predict(x_test)
R2_score=r2_score(gbrpred,y_test)
print("R2 Score =", R2_score)

0.8981405667812179
R2 Score = 0.8370364742600955

In [60]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(x_train, y_train)
print(rf.score(x_train,y_train))
rfpred=rf.predict(x_test)
R2_score=r2_score(rfpred,y_test)
print("R2 Score =", R2_score)

0.9522694635460806
R2 Score = 0.7799831980363932

In [61]:
print("ERROR")
print("MEan Absolute error:",mean_absolute_error(y_test,pred))
print("Mean squared error:",mean_absolute_error(y_test,pred))
print("Root mean squared error:",np.sqrt(mean_squared_error(y_test,pred)))

ERROR
MEan Absolute error: 1370.0393811146143
Mean squared error: 1370.0393811146143
Root mean squared error: 1807.4510687110328

In [62]:
# RMSE/(max(DV)-min(DV))

2090.5509/(max(y)-min(y))

0.026887077025966846

In [63]:
metrics.r2_score(y_test,pred)

0.8520637232114703

In [64]:
import pickle
# open a file, where you ant to store the data
file = open('flight_ada.pkl', 'wb')

# dump information to that file
pickle.dump(ada, file)

In [65]:
model = open('flight_ada.pkl','rb')
forest = pickle.load(model)

In [66]:
y_prediction = forest.predict(x_test)

In [67]:
metrics.r2_score(y_test, y_prediction)

0.8520637232114703